.text-white {
  color: #fff !important;
}
.ui-bg-overlay-container,
.ui-bg-video-container {
  position: relative;
}
.ui-bg-cover {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}
.ui-bg-overlay-container .ui-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.bg-dark {
  background-color: rgba(24, 28, 33, 0.9) !important;
  background: linear-gradient(
    109.6deg,
    rgb(255, 207, 84) 11.2%,
    rgb(255, 158, 27) 91.1%
  );
}
.opacity-50 {
  opacity: 0.5 !important;
}
.bg-dark {
  background-color: rgba(24, 28, 33, 0.9) !important;
}
.ui-bg-overlay-container > *,
.ui-bg-video-container > * {
  position: relative;
}

.media,
.media > :not(.media-body),
.jumbotron,
.d-flex,
.d-inline-flex,
.media,
.media > :not(.media-body),
.jumbotron,
.card {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.ui-w-100 {
  width: 100px !important;
  height: auto;
}
.font-weight-bold {
  font-weight: 0 !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link,
.nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
  margin-right: 0.995rem;
}
.nav-tabs.tabs-alt .nav-link,
.tabs-alt > .nav-tabs .nav-link {
  border-width: 10 !important;
  border-radius: 10 !important;
  background-color: transparent !important;
}
.nav-tabs .nav-link.active {
  background: linear-gradient(
    109.6deg,
    rgb(255, 207, 84) 11.2%,
    rgb(255, 158, 27) 91.1%
  );
}
.container {
  text-align: center !important;
  padding-left: 500px !important;
}
.card-body {
  width: 500px !important;
  margin: auto;
}
.card {
  width: 500px !important;
  margin: auto !important;
}
.cordonate {
  margin-top: 100px !important;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  display: inline-block;
  cursor: pointer;
}

.container-item {
  border-width: 4px;
  border-color: black;
  border-style: solid;
}
.image-product {
  border-radius: 50%;
}

.navbar-company {
  margin-bottom: 100px;
}
.btn-add {
  margin-right: 555px !important;
}
.container-header {
  background-color: white;
  height: 55px;
  padding: 5px;
  width: 80%;
  margin: auto;
  display: flex !important;
  justify-content: space-between !important;
  text-align: center;
  align-items: center;
}
.table-list {
  background-color: #fff;
  width: 80%;
  margin: 50px auto 0px auto;
}
.title-header {
  font-weight: normal;
  font-size: 17px;
}
.dropdown-list {
  position: relative;
  bottom: 38px;
  left: 86%;
}
.action-product {
  background-color: rgb(249, 109, 0) !important;
  border: none !important;
}
.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 2px;
  margin-top: 1px;
  margin-bottom: 10px;
  padding: 50px;
}
.quantity {
  width: 28px;
  background: #fff;
  height: 28px;
  border-radius: 50px;
  color: #ff6000;
  font-size: 17px;
  box-shadow: 0 0 3px #dedede;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.container-quantity {
  background-color: #f7f7f8;
  display: flex;
  justify-content: space-between;
  width: 90px;
  height: 34px;
  padding: 5px;
  border-radius: 50px;
  margin-left: 80%;
  margin-bottom: 50px;
}
